<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterAccount</servlet-name>
  	<display-name>RegisterAccount</display-name>
  	<description></description>
  	<servlet-class>RegisterAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Codetwilio</servlet-name>
  	<display-name>Codetwilio</display-name>
  	<description></description>
  	<servlet-class>Codetwilio</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterAccount</servlet-name>
  	<url-pattern>/RegisterAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Codetwilio</servlet-name>
  	<url-pattern>/Codetwilio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
